@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,600,800|Inter:500,400,700,600|DM+Sans:500|Roboto:600");

html {
    scroll-behavior: smooth;
}  

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 100;
  }
  
  .navbar {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
  .navbar img {
    height: 100px;
  }

  .logo1{
    width: 9vw;
    height: 19vh;
    margin-left: 40px;
    margin-top: 10px;
}
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  
  .navbar a {
    color: #737373;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #EA872D;
  }
  
  .navbar .login {
    color: #EA872D;
    margin-right: 20px;
  }
  
  .navbar .login:hover {
    cursor: pointer;
  }
  
  .navbar .create-account {
    color: white;
    background-color: #EA872D;
    padding: 8px 15px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar .create-account:hover {
    cursor: pointer;
    background-color: #FFA84D;
  }
  
  section {
    margin-top: 70px;
  }

  .topcontainer{
    position: relative;
}

  .background{
    align-items: flex-start;
    display: flex;
    height: 55w;
    left: 0;
    position: relative;
    top: 3.44vw;
    width: 95vw;
 }

 .blob{
    position: relative;
    height: 55vw;
    width: 95vw;
}

.h1-headline4-2{
    font-family: var(--font-family-montserrat);
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 0.02vw;
    line-height: 4.5vw;
    position: absolute;
    top: 17vw;
    width: 48.05vw;
    margin-left: 80px;
}

.h1-Black{
    color: black;
}

.h1-Orange{
    color: #EA872D;
}

.description{
    color: #737373;
    font-size: 18px;
    position: absolute;
    top: 37vw;
    margin-left: 80px;
    margin-top: 25px;
}

  .button-GKN {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #EA872D;
    border-radius: 20px;
    color: white; 
    margin-left: 156px;
    transform: translateX(-50%);
    border: 2px solid #EA872D;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    top: 590px;
  }

  .button-GKN:hover {
    background-color: #FFA84D;
  }

  .button-LM {
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    background-color: white;
    color: #EA872D;
    border: 2px solid #EA872D;
    top: 590px;
    transform: translateX(-50%);
    transition: background-color 0.3s, color 0.3s;
    position: absolute;
    margin-left: 300px;
}

  .button-LM:hover {
    background-color: #F5F5F5;
  }

  .middlecontainer{
    position: relative;
    top: 45px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.featuresTitle {
    text-align: center;
    font-family: var(--font-family-montserrat);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.02vw;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .feature-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .feature-box {
    width: 300px;
    height: 200px;
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .img1 {
    width: 35%;
    height: auto;
    object-fit: contain;
  }

  .img2 {
    width: 28%;
    height: auto;
    object-fit: contain;
  }
  
  .feature-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgba(234, 135, 45, 0.25);
    color: #EA872D;
    font-weight: bold;
    transition: background-color 0.3s;
    opacity: 0;
  }
  
  .feature-box:hover .feature-text {
    opacity: 1;
  }
  
  .bottomcontainer{
    position: relative;
    top: 45px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.benefitTitle{
    text-align: center;
    font-family: var(--font-family-montserrat);
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 0.02vw;
    margin-bottom: 90px;
}

.benefit-row{
    width: 70%;
    margin: 50px auto 80px auto;
    line-height: 1.5;
}

.b1{
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-top: -70px;
}

.b2{
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: -75px;
}

.benedesc{
    margin-left: 80px;
}

.benefit-row:nth-child(2) .benedesc {
    text-align: right;
}

.b1:hover,
.b2:hover {
  transform: scale(1.1);
  background-color: #f9f9f9;
  color: #000;
}

.b1,
.b2 {
  transition: transform 0.3s ease;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.subscribe-container {
    background-color: #EA872D;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .subscribe-content {
    text-align: left;
    flex: 1;
  }
  
  .subscribe-title {
    color: #fff;
    font-family: var(--font-family-montserrat);
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .subscribe-description {
    color: #fff;
    font-size: 16px;
    margin-top: -3px;
  }
  
  .subscribe-input-container {
    display: flex;
    align-items: center;
  }
  
  .subscribe-input {
    width: 250px;
    padding: 10px;
    border: #FFFFFF solid 5px;
    border-radius: 16px;
  }
  
  .subscribe-button {
    background-color: #EA872D;
    color: #fff;
    padding: 10px 20px;
    border:none;
    border-radius: 14px;
    cursor: pointer;
    margin-left: -104px;
  }
  
  .subscribe-button:hover {
    background-color: #FFA346;
  }

  .credit-container {
    text-align: center;
    background-color: #F9F9F9;
    padding: 45px;
    padding-top: 50px;
  }
  
  .social-media {
    margin-bottom: 20px;
  }
  
  .social-media img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  
  .kaskos-credit p {
    color: #888;
  }
  
  
  
  
  
